# Node.js dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*
# Node.js dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Env variables (secrets)
.env

# Docker
Dockerfile

# Optional: build or dist folders
dist/
build/

!promtail-config.yml


/generated/prisma
